@import '../styles/Functions.scss';

//Color
$primary-white: #ffffff;
$primary-light-grey: #f4f4f4;
$primary-grey: #ccd1d9;
$primary-dark-grey: #666666;
$primary-orange: #f9ab00;
$primary-dark: rgb(52, 58, 64);
$primary-red: #ef4035;
$primary-hover-red: #f33501;
$primary-black: #000000;
$primary-transparent-black: rgba(0,0,0,0.7);
$primary-green: green;
$color-transparent: rgba(0,0,0,0);


/* ========================================================================== */
/* Font-weight */

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* ========================================================================== */
/* Font-size */

$font-size-web-head: rem(96);
$font-size-web-title: rem(72); // 72px
$font-size-web-subtitle: rem(64); // 64px
$font-size-master-headline: rem(48); // 48px
$font-size-super-headline: rem(40); // 40px
$font-size-big-headline: rem(32); // 32px
$font-size-headline-1: rem(24); // 24px
$font-size-headline-2: rem(20); // 20px
$font-size-body-1: rem(18); // 18px
$font-size-body-2: rem(16); // 16px
$font-size-body-3: rem(14); // 14px
$font-size-caption-1: rem(12); // 12px
$font-size-caption-2: rem(10); // 10px
$font-size-caption-3: rem(8); // 8px

/* ========================================================================== */
/* Spacing */
$spacing-15: rem(112); // 112px - 7rem
$spacing-14: rem(104); // 104px - 6.5rem
$spacing-13: rem(96); // 96px - 6rem
$spacing-12: rem(88); // 88px - 5.5rem
$spacing-11: rem(80); // 80px - 5rem
$spacing-10: rem(72); // 72px - 4.5rem
$spacing-9: rem(64); // 64px - 4rem
$spacing-8: rem(56); // 56px - 3.5rem
$spacing-7: rem(48); // 48px - 3rem
$spacing-6: rem(40); // 40px - 2.5rem
$spacing-5: rem(32); // 32px - 2rem
$spacing-4: rem(24); // 24px - 1.5rem
$spacing-3: rem(16); // 16px - 1rem
$spacing-2: rem(8); // 8px - 0.5rem
$spacing-1: rem(4); // 4px - 0.25rem
$spacing-0: rem(2); // 2px - 0.125rem
