@import '../../utils/styles/Breakpoints.scss';
@import '../../utils/styles/Variables.scss';

.aboutContainer {
  position: relative;
  z-index: 2;
  padding: 0 2rem;

  @include media-lg {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pictureWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    @include media-lg {
      margin-top: 0;
      margin-bottom: 4rem;
    }

    .pictureImage {
      width: 16rem;
      border-radius: 30% 70% 30% 30% / 30% 30% 70% 70%;
      padding: .3rem;
      border: 1px solid $secondary-blue;
    }
  }

  .aboutWrapper {
    @include media-lg {
      margin-top: 3rem;
      padding: 0 2rem;
    }

    .aboutIntro {
      display: grid;
      grid-gap: 16px;
      margin-bottom: 1.5rem;

      .aboutSubtitle {
        font-size: $font-size-headline-3;
        position: relative;
        color: $secondary-blue;
        text-transform: uppercase;
        text-align: center;
        font-size: $font-size-headline-1;
        display: flex;
        justify-content: center;
  
        &::after {
          content: "";
          width: 15%; 
          height: 2px;
          background-color: $primary-blue;
          position: absolute;
          bottom: 0;

          @include media-md {
            width: 5%;
          }
        }
      }
    }

    .aboutActivities {
      display: flex;
      align-items: center;

      .aboutText {
        margin-left: $spacing-2;
      }
    }

    .aboutIconsWrapper {

      .aboutIcons {
        width: 3rem;
        height: 3rem;
        margin-right: $spacing-3;

        &.nodeIcon {
          color: #417E38;
        }

        &.jsIcon {
          color: #EFD81D;
        }

        &.reactIcon {
          color: #5ED3F3;
        }

        &.shopifyIcon {
          color: #90B945;
        }
      }
    }
  }
}