@import '../../utils/styles/Breakpoints.scss';
@import '../../utils/styles/Variables.scss';

.aboutContainer {
  background-color: $primary-light-grey;

  .pictureWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

    .pictureImage {
      width: 16rem;
      border-radius: 50%;
      padding: .3rem;
      border: 1px solid $primary-orange;
    }
  }

  .aboutWrapper {
    padding: 0 1rem;
    text-align: left;

    .aboutHeading {
      color: $primary-orange;
      text-transform: uppercase;
      padding: 2rem 0;
      text-align: center;
      font-size: $font-size-headline-1;
    }

    .aboutActivities {
      display: flex;
    }


  }
}