@import '../../utils/styles/Breakpoints.scss';
@import '../../utils/styles/Variables.scss';

.contactContainer {
  background: rgb(244,244,244);
  padding: 3rem 2rem;
  position: relative;
  z-index: 2;

  .contactSubtitle {
    font-size: $font-size-headline-3;
    position: relative;
    color: $secondary-blue;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-headline-1;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      width: 15%; 
      height: 2px;
      background-color: $primary-blue;
      position: absolute;
      bottom: 0;

      @include media-md {
        width: 5%;
      }
    }
  }

  .socialBox {
    margin-top: 3rem;

    .socialWrapper {
      display: flex;
      justify-content: space-evenly;
      margin-top: 1.5rem;
      
      @include media-md {
        margin: 1.5rem 25%;
      }

      .socialItem {
        display: grid;
        text-align: center;

        .socialLink {
          text-decoration: none;
          color: $secondary-blue;
        }
      }
    }
  }
}

.title{
  margin-bottom: 14px;
}

.form{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.input{
  font-family: Arial, Helvetica, sans-serif;
  height: 44px;
  border-radius: 4px;
  border: 1px solid $primary-blue;
  margin-bottom: 1rem;
  padding: 8px;

  &:focus-visible {
    border: 1px solid $secondary-blue;
  }
}

.textarea{
  margin-bottom: 14px;
  border-radius: 4px;
  padding: 8px;
  height: 94px;
  resize: none;
}

.button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: $primary-blue;
  color: #FFF;
  font-size: 18px;
  transition: background-color, transform 0.8s;
}

.button:hover{
  transform: scale(1.03);
}