@import '../../utils/styles/Breakpoints.scss';
@import '../../utils/styles/Variables.scss';

.navContainer{
  background-color: $primary-dark;
  display: flex;
  justify-content: space-between;
  height: $spacing-13;

  .logoContainer {
    margin: $spacing-4 0 0 $spacing-5;

    .navLogo {
      height: $spacing-7;
    }
  }

  .navLinks {
    .navList {
      display: flex;
      margin: $spacing-6 $spacing-5 0 0;
      font-size: $font-size-headline-2;
    }

    .navItem {
      color: $primary-orange;
      margin-right: $spacing-3;
    }
  }
}