@import '../../utils/styles/Breakpoints.scss';
@import '../../utils/styles/Variables.scss';

.navContainer{
  background-color: $primary-dark;
  display: flex;
  justify-content: space-between;
  height: $spacing-13;
  position: relative;
  z-index: 2;

  .logoContainer {
    margin: $spacing-4 0 0 $spacing-5;

    @include media-lg {
      margin-left: 4rem;
    }

    .navLogo {
      height: $spacing-7;
    }
  }

  .navWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 95px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;

    @include media-lg {
      flex-direction: row;
      width: 100%;
      height: inherit;
      position: inherit;
      background-color: $primary-dark;
      box-shadow: none;
      padding: 20px 0 0 10px;
      margin-right: 7rem;

    }

    .navList {
      padding: 1.5rem;

      @include media-lg {
        padding: 1.5rem 0.5rem;
      }
    }

    &.active {
      right: 0;
      z-index: 2;

      .navList {
        padding: 1.5rem;
      }
    }

    .navItem {
      color: $primary-blue;
      margin-right: $spacing-6;
      text-decoration: none;
    }
  }

  .navIcon {
    color: $primary-blue;
    display: flex;
    align-items: center;
    margin-right: $spacing-7;

    svg {
      width: $spacing-5;
      height: $spacing-5;
    }

    @include media-lg {
      display: none;
    }
  }
}